* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;

}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 2;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}
